nandhi/application/CoreApp/app-module/Core/Business Objects/app/core/bo/AppEntitySequence.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="app.core.bo" xmlns="app.core.bo" xmlns:domain="app.domain.model">

    <xsd:complexType name="AppEntitySequence">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int" domain:sequence="Identity"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="value" type="xsd:long"/>
        </xsd:sequence>
        <xsd:attribute name="uniqueKey" default="name"/>
        <xsd:attribute name="nameable"/>
    </xsd:complexType>
    
</xsd:schema>