nandhi/application/CoreApp/app-module/Core/Business Objects/app/core/bo/Language.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="app.core.bo" xmlns="app.core.bo" xmlns:domain="app.bo.core.domain">

	<xsd:complexType name="Language">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" domain:sequence="Identity"/>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="nativeName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="uniqueKey" default="name" />
	</xsd:complexType>

    <xsd:element name="language" type="Language"/>
</xsd:schema>