nandhi/application/CoreApp/app-module/Core/Business Objects/app/core/bo/PropertyGroup.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="app.core.bo" xmlns="app.core.bo" xmlns:domain="app.domain.model">

    <xsd:complexType name="PropertyGroup">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" domain:sequence="Identity"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="uniqueKey" default="name,value"/>
        <xsd:attribute name="nameable"/>
    </xsd:complexType>

    <xsd:element name="propertyGroup" type="PropertyGroup"/>

</xsd:schema>