nandhi/application/CoreApp/app-module/Master Data Management/Business Objects/app/mdm/bo/acc/BankName.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="app.mdm.bo.acc" xmlns="app.mdm.bo.acc" xmlns:b="app.core.bo">
    
    <xsd:import schemaLocation="../../../../../../Core/Business Objects/app/core/bo/BOCommon.xsd" namespace="app.core.bo"/>
    
	<xsd:complexType name="BankName">
		
		<xsd:sequence>
		    <xsd:element ref="b:id"/>
		    <xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="uniqueKey" default="name"/>
		<xsd:attribute name="nameable"/>
		
	</xsd:complexType>
	
</xsd:schema>