nandhi/application/CoreApp/app-module/Master Data Management/Business Objects/app/mdm/bo/bp/CustomerGroup.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="app.mdm.bo.bp" xmlns="app.mdm.bo.bp" xmlns:r="app.core.bo">

	<xsd:import schemaLocation="../../../../../../Core/Business Objects/app/core/bo/BOCommon.xsd" namespace="app.core.bo"/>

	<xsd:complexType name="CustomerGroup">
		<xsd:sequence>
		    <xsd:element ref="r:id"/>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="discount" type="xsd:float"/>
		</xsd:sequence>
		<xsd:attribute name="uniqueKey" default="name"/>
	</xsd:complexType>

</xsd:schema>