nandhi/application/CoreApp/app-module/Sales Management/Business Objects/app/sales/bo/DeliverySlot.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="app.sales.bo" xmlns="app.sales.bo" xmlns:r="app.core.bo">

	<xsd:import schemaLocation="../../../../../Core/Business Objects/app/core/bo/BOCommon.xsd" namespace="app.core.bo"/>

	<xsd:complexType name="DeliverySlot">
		<xsd:sequence>
			<xsd:element ref="r:id" />
			<xsd:element name="startTime" type="xsd:int" />
			<xsd:element name="startAmPm" type="xsd:string" />
			<xsd:element name="endTime" type="xsd:int" />
			<xsd:element name="endAmPm" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="uniqueKey" default="startTime,startAmPm" />
	</xsd:complexType>

</xsd:schema>