nandhi/application/Dewbag-Retail/app-module/Recipe/Business Objects/dewbag/lifestyle/recipe/bo/RecipeInstruction.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="dewbag.lifestyle.recipe.bo" xmlns="dewbag.lifestyle.recipe.bo" xmlns:r="app.core.bo" xmlns:c="app.mdm.bo.bp">

	<xsd:import schemaLocation="../../../../../../../../CoreApp/app-module/Core/Business Objects/app/core/bo/BOCommon.xsd" namespace="app.core.bo"/>

	<xsd:complexType name="RecipeInstruction">

		<xsd:sequence>
		 <xsd:element ref="r:id"/>
		    <xsd:element name="recipeId" type="xsd:long"/>
			<xsd:element name="step" type="xsd:string" />
			<xsd:element name="sortOrder" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>